body {
  background-color: #176139; /* Couleur terre */
  color: #2e2e2e; /* Couleur texte */
  font-family: 'Arial', sans serif; /* Police de caratctères */
}
h1{
  color: #8b4513;
}

p{
  font-size: 22px; 
}

a{}
